Maintenance-index.html
cgi-bin/
googleebcbdd3001646edb.html
index.php
licencia.txt
license.txt
phpmyadmin/
readme.html
wordfence-waf.php
wp-activate.php
wp-admin/
wp-blog-header.php
wp-cli.yml
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-content/*
!wp-content/plugins/
!wp-content/themes/
wp-content/activity_get.log
wp-content/advanced-cache.php
wp-content/cache/
wp-content/courses/
wp-content/db.php
wp-content/index.php
wp-content/languages/
wp-content/object-cache.php
wp-content/uploads/
wp-content/w3tc-config/
wp-content/wflogs/
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
.htaccess
