//--------------------------------------------------------------
// Pages
//--------------------------------------------------------------

// Page Header - overriding plugin styles, mostly.
.page-header {
	border: none;
	margin: 0;
	padding: 0;
} // .page-header
